.footer {
    background-color: var(--color-primary);
    color: white;
    padding: 20px 50px;
    margin-top: 50px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.socialsContainer {
    display: flex;
    align-items: center;
}

.contactLink {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin-right: 1px;
    margin-top: 5%;
}

.socialIcon {
    width: 23px;
    height: 23px;
}

.content p {
    font-size: 0.9rem;
}